.invoice-section {
  width: 414px;
  min-height: 897px;
  background-color: #fcfafb;
  padding: 1rem 2rem;
}

.navigation-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 24px;
}

.navigation-row span {
  margin-right: 8px;
  font-size: 26px;
  font-weight: bold;
}

.pdf-row {
  margin-top: 24px;
}

.pdf-row .brand-tile {
  margin-top: 16px;
}

.task-section {
  margin-top: 32px;
}

.newtask-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.taskcard-section {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.amount-row {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.invoice-section .button-row {
  margin-top: 32px;
  text-align: center;
}

.invoice-section .button-row button:nth-child(2) {
  margin-top: 16px;
}