.profile-section {
  width: 414px;
  min-height: 897px;
  background-color: #F4EFF5;
  padding: 1rem 2rem;
}

.profile-section nav {
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.profile-section .title-section {
  margin-top: 2rem;
}

.profile-section .grid-section {
  margin-top: 2rem;
}

.profile-section .grid-container {
  display: grid;
  margin-top: 1rem;
  column-gap: 8px;
  row-gap: 8px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.profile-section .bot-buttons-section {
  margin-top: 2rem;
}