.brand-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 171px;
  height: 171px;
  padding: 12px 20px;
  outline: none;
  border: none;
  border-radius: 6px;
  background: linear-gradient(140deg, #A16CA7, #4B2252);
}

.card-dark {
  background: linear-gradient(140deg, #A16CA7, #4B2252);
}

.card-light {
  background: white;
}