@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.brand-heading,
.brand-subheading,
.brand-title,
.brand-copy {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #353840;
}

.brand-heading {
  font-size: 45px;
}
.brand-subheading {
  font-size: 20px;
}
.brand-title {
  font-size: 18px;
}
.brand-copy {
  font-size: 14px;
}

.default-color,
.dark-color {
  color: #353840;
}

.light-color {
  color: white;
}

.primary-color {
  color: #6C3F73;
}

.secondary-color {
  color: rgba(138, 149, 158, .8);
}